<!--

    #-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
      This file is part of the LDP4j Project:
        http://www.ldp4j.org/

      Center for Open Middleware
        http://www.centeropenmiddleware.com/
    #-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
      Copyright (C) 2014 Center for Open Middleware.
    #-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
      Licensed under the Apache License, Version 2.0 (the "License");
      you may not use this file except in compliance with the License.
      You may obtain a copy of the License at

                http://www.apache.org/licenses/LICENSE-2.0

      Unless required by applicable law or agreed to in writing, software
      distributed under the License is distributed on an "AS IS" BASIS,
      WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
      See the License for the specific language governing permissions and
      limitations under the License.
    #-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
      Artifact    : org.ldp4j.framework:ldp4j-server-command:1.0.0-SNAPSHOT
      Bundle      : ldp4j-server-command-1.0.0-SNAPSHOT.jar
    #-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

-->
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://cxf.apache.org/jaxws
		http://cxf.apache.org/schemas/jaxws.xsd
		http://cxf.apache.org/jaxrs
		http://cxf.apache.org/schemas/jaxrs.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean
		id="logInInterceptor" 
		class="org.apache.cxf.interceptor.LoggingInInterceptor" />
		
	<bean
		id="logOutInterceptor" 
		class="org.apache.cxf.interceptor.LoggingOutInterceptor" />

	<bean 
		id="componentRegistry"
		class="org.ldp4j.server.ComponentRegistryFactory"
		scope="singleton"
		factory-method="newInstance"/>

	<bean 
		id="endpointRegistry"
		scope="singleton"
		factory-bean="componentRegistry"
		factory-method="getEndpointRegistry"/>

	<bean 
		id="commandService"
		scope="singleton"
		class="org.ldp4j.server.commands.CommandProcessingService">
		<constructor-arg ref="componentRegistry" />
	</bean>

	<bean 
		id="legacy"
		scope="singleton"
		class="org.ldp4j.server.frontend.JAXRSFrontend">
		<constructor-arg index="0" ref="endpointRegistry" />
		<constructor-arg index="1" ref="commandService" />
	</bean>

	<jaxrs:server id="api" address="/ldp4j">
		<jaxrs:serviceBeans>
			<ref bean="legacy"/>
		</jaxrs:serviceBeans>
		<jaxrs:inInterceptors>
			<ref bean="logInInterceptor" />
		</jaxrs:inInterceptors>
<!-- 
		<jaxrs:outInterceptors>
			<ref bean="logOutInterceptor" />
		</jaxrs:outInterceptors>
 -->
		<jaxrs:providers>
			<bean id="lpfeMapper" class="org.ldp4j.server.providers.PreconditionFailedExceptionMapper"/>
			<bean id="lnaeMapper" class="org.ldp4j.server.providers.NotAcceptableExceptionMapper"/>
			<bean id="liuceMapper" class="org.ldp4j.server.providers.UnsupportedContentExceptionMapper"/>
			<bean id="lmceMapper" class="org.ldp4j.server.providers.MissingContentExceptionMapper"/>
			<bean id="lmcteMapper" class="org.ldp4j.server.providers.MissingContentTypeExceptionMapper"/>
		</jaxrs:providers>
	</jaxrs:server> 

</beans>